Repository TUMFARSynchrony/SynthARium, pull requests merged in 2023-10, with the labels that each got.

#142 Backend Implement Dynamic Filters with new Filters Structure
  .gitignore
  backend/filters/api_test/api_test_filter.py
  backend/filters/delay/delay_filter.py
  backend/filters/delay/delay_filter_dict.py
  backend/filters/edge_outline/edge_outline_filter.py
  backend/filters/filter.py
  backend/filters/filter_dict.py
  backend/filters/filter_factory.py
  backend/filters/filter_utils.py
  backend/filters/glasses_detection/simple_glasses_detection.py
  backend/filters/mute/mute_audio_filter.py
  backend/filters/mute/mute_video_filter.py
  backend/filters/open_face_au/open_face_au_filter.py
  backend/filters/rotate/rotate_filter.py
  backend/filters/speaking_time/audio_speaking_time_filter.py
  backend/filters/speaking_time/display_speaking_time_filter.py
  backend/filters/speaking_time/display_speaking_time_filter_dict.py
  backend/filters/template/template_filter.py
  backend/filters/template/template_filter_dict.py
  backend/hub/__init__.py
  backend/hub/hub.py
  backend/hub/track_handler.py
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/SessionPreview/SessionPreview.js
  frontend/src/filters.json
  frontend/src/filters_data.json
  frontend/src/filters_new.json
  frontend/src/modals/ParticipantDataModal/ParticipantDataModal.js
  frontend/src/modals/ParticipantDataModal/ParticipantDataModal.tsx
  frontend/src/pages/ConnectionTest/ConnectionTest.tsx
  frontend/src/types.ts
Labels: enhancement, back end, filters, vanessa, tobias

#166 Frontend bc small formating change
  .github/pull_request_template.md
  .github/workflows/backend-static-code-analysis.yml
  .vscode.example/launch.json
  CODE_OF_CONDUCT.md
  README.md
  backend/README.md
  backend/config.json
  backend/filters/README.md
  backend/sessions/README.md
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/atoms/Button/ActionButton.tsx
  frontend/src/components/atoms/Button/ActionIconButton.tsx
  frontend/src/components/atoms/Button/IconButton.tsx
  frontend/src/components/atoms/Button/LinkActionButton.tsx
  frontend/src/components/atoms/Button/TestButton.tsx
  frontend/src/components/atoms/ChatMessage/SpeechBubble.tsx
  frontend/src/components/atoms/CustomSnackbar/CustomSnackbar.tsx
  frontend/src/components/atoms/Rectangle/Rectangle.tsx
  frontend/src/components/atoms/Video/Streams.tsx
  frontend/src/components/molecules/ChatTab/ChatTab.tsx
  frontend/src/components/molecules/NavigationBar/NavigationBar.js
  frontend/src/components/molecules/NotesTab/NotesTab.js
  frontend/src/components/molecules/ParticipantsTab/ParticipantsTab.js
  frontend/src/components/organisms/ParticipantData/ParticipantData.js
  frontend/src/components/organisms/SessionPreview/SessionPreview.js
  frontend/src/components/organisms/VideoCanvas/VideoCanvas.tsx
  frontend/src/components/templates/PageTemplate.js
  frontend/src/hooks/useAutosizeTextArea.ts
  frontend/src/index.css
  frontend/src/modals/ConsentModal/ConsentModal.tsx
  frontend/src/modals/JoinedParticipantModal/JoinedParticipantModal.tsx
  frontend/src/modals/ParticipantDataModal/ParticipantDataModal.tsx
  frontend/src/networking/Connection.ts
  frontend/src/networking/EventHandler.ts
  frontend/src/networking/SubConnection.ts
  frontend/src/networking/typing.ts
  frontend/src/pages/ConnectionLatencyTest/ConnectionLatencyTest.css
  frontend/src/pages/ConnectionLatencyTest/ConnectionLatencyTest.tsx
  frontend/src/pages/ConnectionLatencyTest/util.ts
  frontend/src/pages/ConnectionTest/ConnectionTest.css
  frontend/src/pages/ConnectionTest/ConnectionTest.tsx
  frontend/src/pages/Lobby/Lobby.js
  frontend/src/pages/SessionForm/SessionForm.js
  frontend/src/pages/SessionOverview/SessionOverview.js
  frontend/src/pages/WatchingRoom/WatchingRoom.js
  frontend/src/redux/payloadTypes.ts
  frontend/src/redux/slices/ongoingExperimentSlice.ts
  frontend/src/redux/slices/openSessionSlice.ts
  frontend/src/redux/slices/sessionsListSlice.ts
  frontend/src/redux/slices/tabsSlice.ts
  frontend/src/stories/Introduction.mdx
  frontend/src/utils/constants.ts
  frontend/src/utils/mockServer.js
  frontend/src/utils/utils.ts
Labels: enhancement, front end, Bikem, developer workflow, optimization

#141 Backend Group Filter Infrastructure
  backend/.flake8
  backend/connection/connection.py
  backend/connection/connection_interface.py
  backend/connection/connection_runner.py
  backend/connection/connection_subprocess.py
  backend/custom_types/message.py
  backend/custom_types/success.py
  backend/experiment/experiment.py
  backend/filters/filter.py
  backend/filters/open_face_au/open_face.py
  backend/filters/open_face_au/open_face_au_filter.py
  backend/group_filters/__init__.py
  backend/group_filters/group_filter.py
  backend/group_filters/group_filter_aggregator.py
  backend/group_filters/group_filter_aggregator_factory.py
  backend/group_filters/group_filter_factory.py
  backend/group_filters/group_filter_utils.py
  backend/group_filters/group_filters_request_dict.py
  backend/group_filters/template/__init__.py
  backend/group_filters/template/template_group_filter.py
  backend/hub/track_handler.py
  backend/requirements.txt
  backend/session/data/participant/participant_data.py
  backend/session/data/participant/participant_data_factory.py
  backend/session/data/participant/participant_dict.py
  backend/session/data/participant/participant_dict_validator.py
  backend/sessions/ae839e5e6f.json
  backend/sessions/bbbef1d7d0.json
  backend/subprocess_main.py
  backend/users/experimenter.py
  backend/users/experimenter_factory.py
  backend/users/participant_factory.py
  backend/users/user.py
  frontend/package-lock.json
  frontend/src/pages/ConnectionTest/ConnectionTest.tsx
Labels: enhancement, back end, aykut

#167 Filter configuration key change & Save session with default empty group filters
  backend/experiment/experiment.py
  backend/filters/filter_utils.py
  backend/group_filters/group_filter.py
  backend/group_filters/group_filter_aggregator_factory.py
  backend/group_filters/group_filter_factory.py
  backend/group_filters/group_filter_utils.py
  backend/hub/track_handler.py
  frontend/src/pages/ConnectionTest/ConnectionTest.tsx
  frontend/src/pages/SessionForm/SessionForm.js
  frontend/src/types.ts
  frontend/src/utils/constants.ts
Labels: front end, back end, aykut

#175 Fix for duplicating a session
  frontend/src/redux/slices/openSessionSlice.ts
Labels: bug, front end
