Repository TUMFARSynchrony/SynthARium, pull requests merged in 2024-04, with the labels that each got.

#187 Asymmetric Canvas
  backend/custom_types/canvas_element.py
  backend/session/data/participant/participant_data.py
  backend/session/data/participant/participant_data_factory.py
  backend/session/data/participant/participant_dict.py
  backend/session/data/participant/participant_dict_validator.py
  backend/session/data/participant/participant_summary.py
  backend/sessions/ae839e5e6f.json
  backend/sessions/bbbef1d7d0.json
  frontend/src/components/atoms/Video/Video.tsx
  frontend/src/components/organisms/DragAndDrop/DragAndDrop.js
  frontend/src/components/organisms/ParticipantData/ParticipantData.js
  frontend/src/filters_data.json
  frontend/src/modals/ParticipantDataModal/ParticipantDataModal.tsx
  frontend/src/pages/SessionForm/SessionForm.js
  frontend/src/redux/slices/openSessionSlice.ts
  frontend/src/types.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: enhancement, participant workflow, researcher workflow, berke

#222 Added function to keep the participants canvas color same
  frontend/src/pages/SessionForm/SessionForm.js
  frontend/src/utils/utils.ts
Labels: enhancement, front end

#194 Trickle ICE
  backend/connection/connection.py
  backend/connection/connection_interface.py
  backend/connection/connection_runner.py
  backend/connection/connection_subprocess.py
  backend/connection/messages/__init__.py
  backend/connection/messages/add_ice_candidate_dict.py
  backend/connection/messages/rtc_ice_candidate_dict.py
  backend/connection/sub_connection.py
  backend/custom_types/message.py
  backend/custom_types/success.py
  backend/hub/hub.py
  backend/server/server.py
  backend/users/user.py
  frontend/.env
  frontend/src/networking/Connection.ts
  frontend/src/networking/ConnectionBase.ts
  frontend/src/networking/SubConnection.ts
  frontend/src/networking/typing.ts
Labels: front end, back end, networking, hosting

#233 Set text color based on canvas color brightness
  frontend/src/components/atoms/Rectangle/Rectangle.tsx
Labels: front end, ui/ux
