Repository TUMFARSynchrony/SynthARium, pull requests merged in 2024-06, with the labels that each got.

#147 Backend Post-Processing
  backend/config.json
  backend/custom_types/error.py
  backend/custom_types/message.py
  backend/custom_types/post_processing.py
  backend/custom_types/success.py
  backend/filters/open_face_au/__init__.py
  backend/filters/open_face_au/open_face.py
  backend/post_processing/__init__.py
  backend/post_processing/post_processing_data.py
  backend/post_processing/post_processing_interface.py
  backend/post_processing/video/consumer.py
  backend/post_processing/video/post_processing.py
  backend/post_processing/video/producer.py
  backend/requirements.txt
  backend/server/config.py
  backend/users/experimenter.py
  frontend/src/App.js
  frontend/src/pages/ConnectionTest/ConnectionTest.tsx
  frontend/src/pages/PostProcessing/PostProcessing.js
Labels: enhancement, front end, back end, post-processing, norma

#244 Add tooltip to toggle buttons in header
  frontend/src/App.js
  frontend/src/components/atoms/Button/HeaderActionArea.tsx
Labels: participant workflow, researcher workflow, ui/ux

#243 Remove instructions tab from experimenters view
  frontend/src/pages/ExperimentOverview/ExperimentOverview.js
Labels: researcher workflow

#245 Display Logic for ChatGPT tab when key is invalid
  frontend/.env
  frontend/src/App.js
  frontend/src/components/molecules/ChatGptTab/ChatGptModal.tsx
  frontend/src/components/molecules/ChatGptTab/ChatGptTab.tsx
Labels: bug, front end, ui/ux
