Repository TUMFARSynchrony/SynthARium, pull requests merged in 2024-05, with the labels that each got.

#160 Combine Multiple Button Components into a Single ActionButton Component and Single ActionIconButton Component
  frontend/src/components/atoms/Button/ActionButton.tsx
  frontend/src/components/atoms/Button/ActionIconButton.tsx
  frontend/src/components/atoms/Button/LinkActionButton.tsx
  frontend/src/components/atoms/Button/LinkActionIconButton.tsx
  frontend/src/components/atoms/Button/LinkButton.tsx
  frontend/src/components/atoms/Button/TestButton.stories.ts
  frontend/src/components/atoms/Button/TestButton.tsx
  frontend/src/components/atoms/Button/index.ts
  frontend/src/components/atoms/Button/testbutton.css
  frontend/src/components/molecules/NavigationBar/NavigationBar.js
  frontend/src/components/organisms/SessionPreview/SessionPreview.js
  frontend/src/modals/EndVerificationModal/EndVerificationModal.tsx
  frontend/src/pages/SessionForm/SessionForm.js
  frontend/src/pages/SessionOverview/SessionOverview.js
  frontend/src/pages/WatchingRoom/WatchingRoom.js
Labels: front end, Bikem, developer workflow, optimization

#223 Implementation of a generic tooltip
  frontend/src/components/atoms/Tooltip/Tooltip.tsx
  frontend/src/modals/ParticipantDataModal/ParticipantDataModal.tsx
Labels: front end, ui/ux

#239 Add ChatGPT tab to meeting room
  frontend/src/App.js
  frontend/src/pages/MeetingRoom/MeetingRoom.js
Labels: bug, front end, participant workflow
